h1{
    text-align: center;
}
main{
    display: flex!important;
    justify-content: center;
    width: 100%;
    align-content: center;
    flex-wrap: nowrap;
    flex-direction: column;
}
main section{
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
}
section:first-child div{
    margin: 0 auto;
    width: 40%;
}
table {
    border-collapse: collapse;
    margin: 30px 0px;
}

th, td {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}
td{
    width: 40px;
    height: 20px;
}
thead tr th:first-of-type{
    border: none;
}