h1{
    text-align: center;
}
main section{
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
}
.w40{
  margin: 6px;

}
#center{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 20px;
}
#center h2{
    text-align: center; 
 }
 .blocBoat{
    align-items: center;
 }
 #textRules{
    text-align: center;
    margin: 0;
 }
.btnReady{
    background-color: white;
    border-radius: 15px;
    font-size: 20px;
    padding: 20px;
    margin: 0 auto;
    border: 0;
    text-align: center;
    width: 150px;
}
table {
    border-collapse: collapse;
    margin: 30px 0px;
}
th, td {
    border: 2px solid white;
    padding: 10px;
    text-align: center;
}
td{
    width: 45px;
}
thead tr th:first-of-type{
    border: none;
}
button{
    text-align: center;
}
#audioBloc{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#flagIcon{
    width: 70px;
    border-radius: 15px;
    border: 2px solid white;
    margin: 0 10px;
    padding: 10px;
}